<div *ngIf="userDetails">


  <div class="container max-w-2xl mx-auto pt-5 py-4 px-6 rounded flex flex-col border items-center mb-10 mt-2" *ngIf="!isUserDeleted">
    <img src="{{userDetails.avatar}}" class="h-[130px] object-cover" alt="{{userDetails.avatar}}">

    <div>Name: <span class="font-bold">{{userDetails.first_name}}</span></div>
    <div>Last name: <span class="font-bold"> {{userDetails.last_name}}</span></div>

    <div>Email: {{userDetails.email}}</div>
    <div *ngIf="updatedAt">Updated at: {{updatedAt | date:'dd/MM/yyyy H:mm:ss'}}</div>
  </div>

  <div class="container mx-auto mt-16 p-5 rounded flex flex-col border border-red-500 items-center mb-10 w-1/2 text-3xl"
       *ngIf="isUserDeleted">
    {{isUserDeleted}}
  </div>

  <div *ngIf="!isUserDeleted">
    <div class="p-2">Would you like to change this user's fields?</div>
    <button type="button" (click)="isFormVisible=true" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Yes</button>
    <button type="button" (click)="isFormVisible=false" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">No</button>


    <div class="p-2">Would you like to delete this user from the list?</div>
    <button type="button" (click)="deleteUser()" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Yes</button>


    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="text-right container w-1/4 mx-auto" *ngIf="isFormVisible">
      <div class="text-left p-2">You can change fields:</div>
      <div>
        Name: <input type="text" id="first_name" placeholder={{userDetails.first_name}} formControlName="first_name">
      </div>

      <div>
        Last name: <input type="text" id="last_name" placeholder={{userDetails.last_name}} formControlName="last_name">
      </div>

      <div>
        Email: <input type="text" id="email" placeholder={{userDetails.email}} formControlName="email">
      </div>

      <div class="text-left">
        <span >Avatar image:</span>
        <input type="text" id="avatar" placeholder={{userDetails.avatar}} formControlName="avatar" class="w-full">
      </div>

      <div class="text-center p-5 cursor-pointer">
        <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Submit</button>
      </div>

    </form>
  </div>

</div>




